<form [formGroup]="registerForm" (ngSubmit)="register()">
  <h2 class="text-center text-primary">Sign Up</h2>
  <hr />

  <div class="form-group">
    <label class="control-label" style="margin-right: 10px">I am a: </label>
    <div class="custom-control custom-radio custom-control-inline">
      <input type="radio" class="custom-control-input" id="male" value="male" formControlName="gender" />
      <label class="custom-control-label" for="male">Male </label>
    </div>
    <div class="custom-control custom-radio custom-control-inline">
      <input type="radio" class="custom-control-input" id="female" value="female" formControlName="gender" />
      <label class="custom-control-label" for="female">Female </label>
    </div>
  </div>

  <div class="form-group">
    <input
      type="text"
      class="form-control"
      [class.is-invalid]="formData['username'] | isInvalid"
      formControlName="username"
      placeholder="Username"
    />
    <div class="invalid-feedback">Please choose a username</div>
  </div>

  <div class="form-group">
    <input
      type="email"
      [class.is-invalid]="formData['email'] | isInvalid"
      class="form-control"
      placeholder="Email"
      formControlName="email"
    />
    <div class="invalid-feedback" *ngIf="formData['email'] | hasError : 'required'">Email is required</div>
    <div class="invalid-feedback" *ngIf="formData['email'] | hasError : 'email'">Enter a valid email</div>
  </div>

  <div class="form-group">
    <input [class.is-invalid]="formData['knownAs'] | isInvalid" class="form-control" placeholder="Known as" formControlName="knownAs" />
    <div class="invalid-feedback" *ngIf="formData['knownAs'] | hasError : 'required'">Known as is required</div>
  </div>

  <div class="form-group">
    <input
      [class.is-invalid]="formData['dateOfBirth'] | isInvalid"
      class="form-control"
      placeholder="Date of Birth"
      formControlName="dateOfBirth"
      type="text"
      bsDatepicker
      [bsConfig]="bsConfig"
    />
    <div class="invalid-feedback" *ngIf="formData['dateOfBirth'] | hasError : 'required'">Date of Birth is required</div>
  </div>

  <div class="form-group">
    <input [class.is-invalid]="formData['city'] | isInvalid" class="form-control" placeholder="City" formControlName="city" />
    <div class="invalid-feedback" *ngIf="formData['city'] | hasError : 'required'">City is required</div>
  </div>

  <div class="form-group">
    <input [class.is-invalid]="formData['country'] | isInvalid" class="form-control" placeholder="Country" formControlName="country" />
    <div class="invalid-feedback" *ngIf="formData['country'] | hasError : 'required'">Country is required</div>
  </div>

  <div class="form-group">
    <input
      type="password"
      class="form-control"
      [class.is-invalid]="formData['password'] | isInvalid"
      formControlName="password"
      placeholder="Password"
    />
    <div class="invalid-feedback" *ngIf="formData['password'] | hasError : 'required'">Password is required</div>
    <div class="invalid-feedback" *ngIf="formData['password'] | hasError : 'minlength'">Password must be at least 4 characters</div>
    <div class="invalid-feedback" *ngIf="formData['password'] | hasError : 'maxlength'">Password can not exceeds 8 characters</div>
  </div>

  <div class="form-group">
    <input
      type="password"
      class="form-control"
      [class.is-invalid]="(formData['password'] | isInvalid) || (formData['password'] | hasError : 'mismatch')"
      formControlName="confirmPassword"
      placeholder="Confirm Password"
    />
    <div class="invalid-feedback" *ngIf="formData['confirmPassword'] | hasError : 'required'">Password is required</div>
    <div class="invalid-feedback" *ngIf="formData['confirmPassword'] | hasError : 'mismatch'">Password must match</div>
  </div>

  <div class="form-group text-center">
    <button class="btn btn-success mr-2" [disabled]="!registerForm.valid" type="submit">Register</button>
    <button class="btn btn-default" type="button" (click)="cancel()">Cancel</button>
  </div>
</form>
