<div class="modal-header">
  <h4 class="modal-title pull-left">Edit Roles for {{ user.userName }}</h4>
  <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form #rolesForm="ngForm" id="rolesForm">
    @for (role of roles; track role) {
      <div class="custom-control custom-checkbox">
        <input
          type="checkbox"
          class="custom-control-input"
          id="{{ role.value }}Checkbox"
          value="{{ role.value }}"
          [checked]="role.checked"
          (change)="role.checked = !role.checked"
          [disabled]="role.name === 'Admin' && user.userName === 'Admin'"
          />
          <label class="custom-control-label" for="{{ role.value }}Checkbox">{{ role.name }}</label>
        </div>
      }
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-success" (click)="updateRoles()">Submit</button>
    <button type="button" class="btn btn-default" (click)="bsModalRef.hide()">Cancel</button>
  </div>
