img.img-thumbnail {
  height: 100px;
  min-width: 100px !important;
  margin-bottom: 2px;
}

.nv-file-over {
  border: dotted 3px red;
}

input[type='file'] {
  color: transparent;
}

.pending-image-text {
  color: red;
  position: absolute;
  top: 35px;
  left: 7px;
  text-align: center;
}

.not-approved {
  opacity: 0.2;
}
