<div class="card">
  <!-- content goes here -->

  <div class="card-body">
    <ng-scrollbar #scrollbarRef="ngScrollbar" class="chat-scrollbar">
      @if (messages?.length === 0) {
        <div>No message yet.... say hi by using the message box below</div>
      }

      <ul class="chat">
        @for (message of messages; track message) {
          <li>
            <!-- to them -->
            @if (message.senderId === recipientId) {
              <div>
                <div class="chat-body">
                  <p>{{ message.content }}</p>
                  <div class="header">
                    <small class="text-muted">
                      <span class="fa fa-clock-o"> {{ message.messageSent | dateAgo }}</span>
                    </small>
                  </div>
                </div>
              </div>
            }
            <!-- to me -->
            @if (message.senderId !== recipientId) {
              <div>
                <div class="chat-body text-end">
                  <p>{{ message.content }}</p>
                  <div class="header">
                    <small class="text-muted">
                      <span class="fa fa-clock-o"> {{ message.messageSent | dateAgo }}</span>
                      @if (!message.isRead) {
                        <span class="ms-2" style="color: lightgray">
                          <i class="fa fa-check" aria-hidden="true"></i>
                        </span>
                      }
                      @if (message.isRead) {
                        <span class="text-success ms-2">
                          <i class="fa fa-check" aria-hidden="true"></i> <i class="fa fa-check" aria-hidden="true"></i
                        ></span>
                      }
                    </small>
                  </div>
                </div>
              </div>
            }
          </li>
        }
      </ul>
    </ng-scrollbar>
  </div>
  <div class="card-footer">
    <form #messageForm="ngForm" (ngSubmit)="messageForm.valid && sendMessage()">
      <div class="input-group">
        <input
          [(ngModel)]="newMessage"
          name="content"
          required
          type="text"
          class="form-control input-sm"
          placeholder="send a private message"
          />
          <div class="input-group-append">
            <button class="btn btn-primary" [disabled]="!messageForm.valid">Send</button>
          </div>
        </div>
      </form>
    </div>
  </div>
