<div class="container mt-5">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-4">
        <form [formGroup]="registerForm" (ngSubmit)="register()">
          <h2 class="text-center text-primary">Sign Up</h2>
          <hr />

          <div class="mt-3 row">
            <div class="inline-block" style="width: 20%">
              <input type="radio" class="" id="male" value="male" formControlName="gender" />
              <label class="control-label ms-2" for="male">Male </label>
            </div>
            <div class="inline-block" style="width: 30%">
              <input type="radio" class="" id="female" value="female" formControlName="gender" />
              <label class="control-label ms-2" for="female">Female </label>
            </div>
          </div>

          <div class="mt-3">
            <input
              type="text"
              class="form-control"
              [class.is-invalid]="formData['username'] | isInvalid"
              formControlName="username"
              placeholder="Username"
              />
              <div class="invalid-feedback">Please choose a username</div>
            </div>

            <div class="mt-3">
              <input
                type="email"
                [class.is-invalid]="formData['email'] | isInvalid"
                class="form-control"
                placeholder="Email"
                formControlName="email"
                />
                @if (formData['email'] | hasError : 'required') {
                  <div class="invalid-feedback">Email is required</div>
                }
                @if (formData['email'] | hasError : 'email') {
                  <div class="invalid-feedback">Enter a valid email</div>
                }
              </div>

              <div class="mt-3">
                <input
                  [class.is-invalid]="formData['knownAs'] | isInvalid"
                  class="form-control"
                  placeholder="Known as"
                  formControlName="knownAs"
                  />
                  @if (formData['knownAs'] | hasError : 'required') {
                    <div class="invalid-feedback">Known as is required</div>
                  }
                </div>

                <div class="mt-3">
                  <input
                    [class.is-invalid]="formData['dateOfBirth'] | isInvalid"
                    class="form-control"
                    placeholder="Date of Birth"
                    formControlName="dateOfBirth"
                    type="text"
                    bsDatepicker
                    [bsConfig]="bsConfig"
                    />
                    @if (formData['dateOfBirth'] | hasError : 'required') {
                      <div class="invalid-feedback">Date of Birth is required</div>
                    }
                  </div>

                  <div class="mt-3">
                    <input [class.is-invalid]="formData['city'] | isInvalid" class="form-control" placeholder="City" formControlName="city" />
                    @if (formData['city'] | hasError : 'required') {
                      <div class="invalid-feedback">City is required</div>
                    }
                  </div>

                  <div class="mt-3">
                    <input
                      [class.is-invalid]="formData['country'] | isInvalid"
                      class="form-control"
                      placeholder="Country"
                      formControlName="country"
                      />
                      @if (formData['country'] | hasError : 'required') {
                        <div class="invalid-feedback">Country is required</div>
                      }
                    </div>

                    <div class="mt-3">
                      <input
                        type="password"
                        class="form-control"
                        [class.is-invalid]="formData['password'] | isInvalid"
                        formControlName="password"
                        placeholder="Password"
                        />
                        @if (formData['password'] | hasError : 'required') {
                          <div class="invalid-feedback">Password is required</div>
                        }
                        @if (formData['password'] | hasError : 'minlength') {
                          <div class="invalid-feedback">Password must be at least 4 characters</div>
                        }
                        @if (formData['password'] | hasError : 'maxlength') {
                          <div class="invalid-feedback">Password can not exceeds 8 characters</div>
                        }
                      </div>

                      <div class="mt-3">
                        <input
                          type="password"
                          class="form-control"
                          [class.is-invalid]="(formData['password'] | isInvalid) || (formData['password'] | hasError : 'mismatch')"
                          formControlName="confirmPassword"
                          placeholder="Confirm Password"
                          />
                          @if (formData['confirmPassword'] | hasError : 'required') {
                            <div class="invalid-feedback">Password is required</div>
                          }
                          @if (formData['confirmPassword'] | hasError : 'mismatch') {
                            <div class="invalid-feedback">Password must match</div>
                          }
                        </div>

                        <div class="mt-3 text-center">
                          <button class="btn btn-success me-2" [disabled]="!registerForm.valid" type="submit">Register</button>
                          <button class="btn btn-default" type="button" (click)="cancel()">Cancel</button>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
